footer{
    width: 95%;
    font-size: 1.2em;
    font-family: Arial;
    font-weight: bolder;
    border-top: black solid;
    padding-top: 0.5em;
    padding-bottom: 0em;
    margin-top: 1.5em;
    color: black;
    position: absolute;
    bottom: 0;
}

footer .copyright {
    position: absolute;
    width: 100%;
    padding-right: 40em;
    font-family: Arial;
    color: gray;
}