
main{
    padding-top: 60px;
    padding-left: 1em;
}

body{
    background-color: blanchedalmond;
    padding-left: 1em;
    font-family: sans-serif;
}

nav ul {
    list-style: none;
    text-align: left;
    padding-left: 0em;
    padding-bottom: 0em;
}
nav ul li {
    padding-top: 0em;
    display: inline;
}
nav ul li a {
    font-size: medium;
    color: dimgray;
    text-decoration: none;
    font-weight: bold;
}

.text{
    margin-top: 40px;
}

table,th,td{
    margin-top: 10px;
    border: 1px solid;
    margin-bottom: 10px;
}