
main{
    padding-top: 5px;
}

body{
    background-color: #e4dcdc;
    padding-left: 1em;
    font-family: sans-serif;
}

nav ul {
    margin-top: 0;
    margin-bottom: 0.5em;
    list-style: none;
    text-align: left;
    padding-left: 0em;
    padding-bottom: 0em;
}
nav ul li {
    padding-top: 0em;
    display: inline;
}
nav ul li a {
    font-size: medium;
    color: dimgray;
    text-decoration: none;
    font-weight: bold;
}

.text{
    margin-top: 40px;
}

table,th,td{
    border: solid;
    margin-bottom: 10px;
    background-color: whitesmoke;
}

button {
    font-family: Arial;
    font-weight: bolder;
    background-color: yellowgreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

