<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{css/header.css}">
    <link rel="stylesheet" href="../static/css/footer.css" th:href="@{css/footer.css}">
    <title>Checkout Page</title>
</head>
<body>
<header th:replace="~{HeaderAndFooter::Header}">
    <h1>header text</h1>
</header>
<main>
    <h2> Checkout Page</h2>
    <table th:if="${cartList != null && cartList != ''}">
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
        </tr>
        <tr th:each="c : ${cartList}">
            <td th:text="${c.id}"></td>
            <td th:text="${c.name}"></td>
            <td th:text="${c.price}"></td>
        </tr>
    </table>
    <br><br><br><br>
    <table>
        <th>Subtotal</th>
        <tr>
            <td th:text="${Total[0]}"></td>
        </tr>
        <th>Sales Tax(13%)</th>
        <tr>
            <td th:text="${Total[1]}"></td>
        </tr>
        <th>Total</th>
        <tr>
            <td th:text="${Total[2]}"></td>
        </tr>
    </table>
    <br><br><br><br>
</main>
<footer th:replace="~{HeaderAndFooter :: Footer}">
    footer text
</footer>
</body>
</html>