<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="#" th:href="@{../static/css/style.css}" />
    <link rel="stylesheet" href="#" th:href="@{../static/css/header.css}" />
    <link rel="stylesheet" href="#" th:href="@{../static/css/footer.css}" />
    <title>HeaderAndFooter</title>
</head>
<body>
<header th:fragment="Header">
    <h1>Sahil's Online Shop 2024</h1>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home Page |</a></li>
            <li><a th:href="@{/product}">Product |</a></li>
            <li><a th:href="@{/shopping}">Shopping |</a></li>
            <li><a th:href="@{/checkout}">Checkout |</a></li>
        </ul>
    </nav>
</header>
<main>
some text
</main>
<footer th:fragment="Footer">
    Sheridan College&nbsp;&nbsp;
    <span class="copyright">Copyright © Sahil Dutta <b> ID: 991684086 </b> </span>
</footer>
</body>
</html>
