<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{css/header.css}">
    <link rel="stylesheet" href="../static/css/footer.css" th:href="@{css/footer.css}">
    <title>Product</title>
</head>
<body>
<header th:replace="~{HeaderAndFooter::Header}">
    <h1>header text</h1>
</header>
<main>
    <h2> Product List</h2>
    <table th:if="${productList != null && productList != ''}">
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
        </tr>
        <tr th:each="p : ${productList}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
        </tr>
    </table>
    <form method="post" action="#" th:action="@{/product}" th:object="${product}">
        Enter Product Id: <input type="text" th:value="*{id}" readonly/>
        <br><br>
        Enter Product Name: <input type="text" th:field="*{name}"/>
        <br><br>
        Enter Product Price: <input type="text" th:field="*{price}" />
        <br><br>
        <button type="submit"> Add Product </button>
    </form>
    
    
</main>
<footer th:replace="~{HeaderAndFooter :: Footer}">
    footer text
</footer>
</body>
</html>